{
    "rpe": "none",
    "acqd": "PA",
    "denoise": true,
    "degibbs": true,
    "eddy": true,
    "bias": true,
    "ricn": true,
    "norm": false,
    "nval": 1000,
    "acpc": true,
    "reslice": "1",
    "anat": "../5ba55c5a1600c3002abd86ab/t1.nii.gz",
    "bvec": "../5ba66f0f1600c3002abd8a31/5b9daaa19edeac0027d91155/dwi.bvecs",
    "bval": "../5ba66f0f1600c3002abd8a31/5b9daaa19edeac0027d91155/dwi.bvals",
    "diff": "../5ba66f0f1600c3002abd8a31/5b9daaa19edeac0027d91155/dwi.nii.gz"
}
